<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kitchening</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="home">
    <header>
        <section>
            <img src="/img/logo (2).jpg" alt="Imagen del logo">
            </section>
            <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Quienes</a></li>
                <li><a href="">Servicios</a></li>
                <li><a href="">Portfolio</a></li>
                <li><a href="">Sucursales</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
        </nav>
        </header>
        <main>
            <main class="home__main">
                <section class="home__main__section">
                <article class="home__main__section__article">
                    <img src="/img/img-pdto-1 (2).jpg" alt="Producto 1">
                    <img src="/img/img-nuevo (2).png" alt="Cartel de nuevo">
                    <h4>Nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur harum ex libero nesciunt soluta facere.</p>
                    <a href="">ver mas</a>
                </article>
                <article class="home__main__section__article">
                    <img src="/img/img-pdto-2 (2).jpg" alt="Producto 2">
                    <img src="/img/img-descuento (2).png" alt="Cartel de descuento">
                    <h4>Nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur harum ex libero nesciunt soluta facere.</p>
                    <a href="">ver mas</a>
                </article>
                    <article class="home__main__section__article">
                        <img src="/img/img-pdto-3 (2).jpg" alt="Producto 03">
                        <img src="/img/img-gratis (2).png" alt="Cartel de gratis">
                        <h4>Nombre del producto</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur harum ex libero nesciunt soluta facere.</p>
                        <a href="">ver mas</a>
                    </article>
                    <article class="home__main__section__article">
                        <img src="/img/img-pdto-1 (2).jpg" alt="Producto 1">
                        <img src="/img/img-descuento (2).png" alt="Cartel de descuento">
                        <h4>Nombre del producto</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur harum ex libero nesciunt soluta facere.</p>
                        <a href="">ver mas</a>
                    </article>
                    <article class="home__main__section__article">
                        <img src="/img/img-pdto-2 (2).jpg" alt="Producto 2">
                        <img src="/public/img/img-nuevo (2).png" alt="Cartel de nuevo>
                        <h4>Nombre del producto</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur harum ex libero nesciunt soluta facere.</p>
                        <a href="">ver mas</a>
                    </article>
                        <article class="home__main__section__article">
                            <img src="/img/img-pdto-3 (2).jpg" alt="Producto 03">
                            <img src="/img/img-gratis (2).png" alt="Cartel de gratis">
                            <h4>Nombre del producto</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur harum ex libero nesciunt soluta facere.</p>
                            <a href="">ver mas</a>
                        </article>
                        
        </main>
        <footer>
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Quienes</a></li>
                    <li><a href="">Servicios</a></li>
                    <li><a href="">Portfolio</a></li>
                    <li><a href="">Sucursales</a></li>
                    <li><a href="">Contacto</a></li>
                </ul>
            </nav>
        </footer>
    
</body>
</html>